.wrapper [data-oembed-provider]  {
  margin-top: 40px;
  margin-bottom: 40px;
}

.wrapper [data-oembed-provider] > div {
  @apply .relative;
  @apply .w-full;
  @apply .h-0;
  padding-bottom: 56.25%;
}

.wrapper [data-oembed-provider] iframe {
  @apply .absolute;
  @apply .w-full;
  @apply .h-full;
  @apply .pin-t;
  @apply .pin-l;
}