/*! /* purgecss start ignore */
@custom-selector :--formInput input, textarea;
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.wrapper > :--formInput:not(:focus):not(:placeholder-shown):invalid~.underline::after {
  animation: shake infinite 0.92s cubic-bezier(.36, .07, .19, .97) both;
}

.wrapper input::placeholder {
  @apply .opacity-100;
}

.wrapper input {
  @media (--screen-md) {
    padding-top: 12px;
  }
}

.wrapper :--formInput:valid ~ span {
  visibility: hidden;
}

.wrapper input:valid ~ .underline::after {
  transform: translateX(125%) !important;
}

/*! /* purgecss end ignore */
